.error-page{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.error-page figure{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.error-page img{
    width: 100%;
}