<div class="container">

  <h1>Novo Usuário</h1>
  <form class="form-horizontal" #f="ngForm" (ngSubmit)="createUser()">
    <div class="form-group">
      <label for="name" class="col-sm-2 control-label">Nome</label>
      <div class="col-sm-10">
        <input type="text" [(ngModel)]="user.name" class="form-control" name="name" id="name" placeholder="Digite seu nome" required>
      </div>
    </div>

    <div class="form-group">
      <label for="rg" class="col-sm-2 control-label">RG</label>
      <div class="col-sm-10">
        <input type="text" [(ngModel)]="user.rg" class="form-control" name="rg" id="rg" placeholder="Digite seu RG" required>
      </div>
    </div>

    <div class="form-group">
      <label for="address" class="col-sm-2 control-label">Endereço</label>
      <div class="col-sm-10">
        <input type="text" [(ngModel)]="user.endereco" class="form-control" name="address" id="address" placeholder="Digite seu endereço">
      </div>
    </div>

    <div class="form-group">
      <label for="phone" class="col-sm-2 control-label">Telefone</label>
      <div class="col-sm-10">
        <input type="text" [(ngModel)]="user.telefone" class="form-control" name="phone" id="phone" placeholder="Digite seu Telefone">
      </div>
    </div>

    <div class="form-group">
      <label for="email" class="col-sm-2 control-label">E-mail</label>
      <div class="col-sm-10">
        <input type="email" [(ngModel)]="user.email" class="form-control" name="email" id="email" placeholder="Digite seu e-mail" required>
      </div>
    </div>

    <div class="form-group">
      <label for="password" class="col-sm-2 control-label">Senha</label>
      <div class="col-sm-10">
        <input type="password" [(ngModel)]="password" class="form-control" name="password" id="password" placeholder="Digite sua senha" required>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Cadastrar</button>
      </div>
    </div>
  </form>
</div>