<div class="row">
  <div class="col-sm-3">
    <app-admin></app-admin>
  </div>
  <div class="col-sm-9">
    <h1>Usuários</h1>
    <p><a routerLink="/users" class="btn btn-primary">Novo</a></p>
    <table class="table table-striped">
      <thead>
        <th>Nome</th>
        <th>RG</th>
        <th>E-mail</th>
        <th></th>
      </thead>
      <tbody id="tabela">
        <tr *ngFor="let u of users">
          <td>{{ u.name }}</td>
          <td>{{ u.rg }}</td>
          <td>{{ u.email }}</td>
          <td>
            <a routerLink="/users/{{u._id}}" class="btn btn-info btn-sm">Editar</a> 
            <button class="btn btn-danger btn-sm" (click)="removeUser(u._id)">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>