<div class="row">
  <div class="col-sm-3">
    <app-admin></app-admin>
  </div>
  <div class="col-sm-9">
    <h1>Filmes</h1>
    <p><a routerLink="/admin/filmes/novo" class="btn btn-primary">Novo</a></p>
    <table class="table table-striped">
      <thead>
        <th>Titulo</th>
        <th>Genero</th>
        <th>Duração</th>
        <th>Lançamento</th>
        <th>Quantidade</th>
        <th></th>
      </thead>
      <tbody id="tabela">
        <tr>
          <td>Titanic</td>
          <td>Drama</td>
          <td>54 min</td>
          <td>12/05/2001</td>
          <td>4</td>
          <td><button class="btn btn-info btn-sm">Editar</button> <button class="btn btn-danger btn-sm">Excluir</button></td>
        </tr>
        <tr>
          <td>Sexta-feira 13</td>
          <td>Terror</td>
          <td>90 min</td>
          <td>25/11/2009</td>
          <td>1</td>
          <td><button class="btn btn-info btn-sm">Editar</button> <button class="btn btn-danger btn-sm">Excluir</button></td>
        </tr>
        <tr>
          <td>A culpa é das estrelas</td>
          <td>romance</td>
          <td>160 min</td>
          <td>01/02/2013</td>
          <td>2</td>
          <td><button class="btn btn-info btn-sm">Editar</button> <button class="btn btn-danger btn-sm">Excluir</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>