<div class="container">

  <div class="row">
      
      <div class="card col-sm-3">
          <div class="card-title">
              <h2><a href="/filmes/1">Título Filme</a></h2>
          </div>
          <img class="card-img-top" src="../../assets/public/images/download.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <a href="/filmes/1" class="btn btn-primary">Reservar</a>
          </div>
      </div>
  
      <div class="card col-sm-3">
          <div class="card-title">
              <h2><a href="/filmes/1">Título Filme</a></h2>
          </div>
          <img class="card-img-top" src="../../assets/public/images/download.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <a href="/filmes/1" class="btn btn-primary">Reservar</a>
          </div>
      </div>
  
      <div class="card col-sm-3">
          <div class="card-title">
              <h2><a href="/filmes/1">Título Filme</a></h2>
          </div>
          <img class="card-img-top" src="../../assets/public/images/download.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <a href="/filmes/1" class="btn btn-primary">Reservar</a>
          </div>
      </div>

      <div class="card col-sm-3">
              <div class="card-title">
                  <h2><a href="/filmes/1">Título Filme</a></h2>
              </div>
              <img class="card-img-top" src="../../assets/public/images/download.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <a href="/filmes/1" class="btn btn-primary">Reservar</a>
              </div>
          </div>
      
          <div class="card col-sm-3">
              <div class="card-title">
                  <h2><a href="/filmes/1">Título Filme</a></h2>
              </div>
              <img class="card-img-top" src="../../assets/public/images/download.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <a href="/filmes/1" class="btn btn-primary">Reservar</a>
              </div>
          </div>
      
          <div class="card col-sm-3">
              <div class="card-title">
                  <h2><a href="/filmes/1">Título Filme</a></h2>
              </div>
              <img class="card-img-top" src="../../assets/public/images/download.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <a href="/filmes/1" class="btn btn-primary">Reservar</a>
              </div>
          </div>

          <div class="card col-sm-3">
                  <div class="card-title">
                      <h2><a href="/filmes/1">Título Filme</a></h2>
                  </div>
                  <img class="card-img-top" src="../../assets/public/images/download.jpg" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <a href="/filmes/1" class="btn btn-primary">Reservar</a>
                  </div>
              </div>
          
              <div class="card col-sm-3">
                  <div class="card-title">
                      <h2><a href="/filmes/1">Título Filme</a></h2>
                  </div>
                  <img class="card-img-top" src="../../assets/public/images/download.jpg" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <a href="/filmes/1" class="btn btn-primary">Reservar</a>
                  </div>
              </div>
  </div>

</div>
<p></p>