<nav class="navbar navbar-default bg-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink="/">
                <img src="/src/assets/public/images/download3.png" alt="fcamra logo" class="navbar-left navbar-text"
                    height="50">
                <span class="navbar-brand navbar-text blueprimary">FCmara Locadora</span>
            </a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li class="navbar-text"><a routerLink="/login" class="btn btn-primary">Acessar</a></li>
        </ul>

    </div>
</nav>